@media (max-width: 531px) {
  /* container */
  .container {
    padding: 0; 
  }

  /* header-top */

  header {
    display: none;
  }

  /* header-bottom */

  .header-bottom {
    width: 100%;
  }

  .navbar {
    display: none;
  }

  /* hero */

  .hero {
    width: 100%;
    /* overflow: hidden; */
  }

  .hero .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0rem !important;
  }

  .text-wrap {
    padding-top: 4rem !important;
    /* padding-right: 4rem !important; */
    padding-left: 4rem !important;
    padding-bottom: 0rem !important;
    color: var(--oxford-blue-1);
  }

  .large-head {
    font-size: var(--fs-2);
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* padding-right: 55rem; */
  }

  .para-head {
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* padding-right: 55rem; */
  }

  .inp-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .inp-btn {
    position: relative;
    width: 90%;
    height: auto;
    right: 0%;
    border: 15px solid var(--white);
  }

  .inp-hero {
    width: 90%;
  }

  .img-hero {
    padding: 3rem !important;
    height: 670px;
  }

  /* services */

  .service-image {
    display: none;
  }

  .service-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /* about */

  .about {
    padding: 3rem 5rem;
  }

  .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .abt-img {
    height: 485px;
    /* padding-right: 10rem; */
  }

  .about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .about-wrap {
    padding-top: 3rem;
    width: 100%;
  }

  /* doctor post */

  .doctors .container {
    padding: 10rem 0rem;
    width: 100%;
    margin-bottom: 5rem;
  }

  /* banner */

  .banner {
    overflow: hidden;
    position: static;
  }

  .banner .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center ;
    padding-left: 0rem;
    gap: 4rem;
  }

  .banner-image {
    padding-left: 0rem !important;
  }

  .banner-head-small {
    font-size: 1rem !important;
  }

  .banner-head-large {
    font-size: 2rem !important;
  }

  .banner-btn {
    width: 50%;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 3rem;
  }

  .banner-image img {
    position: static;
    height: 350px;
    padding-top: 2rem;
  }

  /* blog posts */

  .blogs {
    padding: 10rem 4rem;
  }

  .blog-head {
    font-size: var(--fs-1);
  }

  .small-blog-head {
    text-align: center;
  }

  .blogs .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .blog-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /* footer */

  .partitions {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 3rem;
    gap: 3rem !important;
  }

  .p2,
  .p3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .part-1 {
    width: 100%;
  }

  .last-part {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .copy-right {
    margin-left: 2rem !important;
  }
}
