:root {
  --light-steel-blue: hsl(218, 33%, 77%);
  --royal-blue-light: hsl(225, 68%, 53%);
  --flickr-blue_30: hsla(225, 68%, 53%, 0.3);
  --carolina-blue: hsl(201, 92%, 47%);
  --oxford-blue-1: hsl(218, 70%, 18%);
  --oxford-blue-2: hsl(217, 100%, 12%);
  --oxford-blue-3: hsl(218, 71%, 11%);
  --gainsboro_50: hsla(0, 0%, 85%, 0.5);
  --lavender-web: hsl(225, 67%, 91%);
  --sonic-silver: hsl(0, 0%, 47%);
  --light-gray: hsl(0, 0%, 84%);
  --cultured: hsl(0, 0%, 97%);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --black_8: hsla(0, 0%, 0%, 0.08);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);

  /* gradient */
  --gradient: linear-gradient(
    90deg,
    var(--carolina-blue) 0%,
    var(--royal-blue-light) 100%
  );

  /* typography */
  --ff-roboto: "Roboto", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 4rem;
  --fs-2: 3.6rem;
  --fs-3: 3.2rem;
  --fs-4: 2.4rem;
  --fs-5: 2.2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.6rem;

  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  /* spacing */
  --section-padding: 120px;

  /* shadow */
  --shadow-1: 4px 4px 15px var(--black_10);
  --shadow-2: 0 10px 15px var(--black_10);
  --shadow-3: 0px 20px 60px var(--black_8);
  --shadow-4: 0px 10px 30px var(--flickr-blue_30);
  --shadow-5: 0px 2px 60px 0px var(--black_10);

  /* border-radius */
  --radius-6: 6px;
  --radius-4: 4px;

  /* transition */
  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/* initial setting */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  /* overflow-x: hidden; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-roboto);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: var(--sonic-silver);
  font-size: 1.5rem;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  object-fit: cover;
}

/* body {
  background-color: #ffffff;
  color: var(--sonic-silver);
  font-size: 1.5rem;
  width: 100%;
  max-width: 100%; 
  min-width: 100%;
  overflow-x: hidden !important;
} */

/* header */

/* top */

.top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--oxford-blue-1);
  color: white;
}

.contact-list,
.contact-item,
.social-list {
  display: flex;
}

.contact-list,
.social-list {
  padding: 1rem 15rem;
}

.contact-item {
  padding-left: 2rem;
}

.icon-top {
  color: var(--royal-blue-light);
  padding-right: 0.5rem;
}

ion-icon {
  pointer-events: auto;
}

.social-icons {
  font-size: 2rem;
  padding-right: 1rem;
  transition: color 0.3s ease; 
}

.social-icons:hover {
  color: var(--royal-blue-light);
  cursor: pointer;
}

/* bottom */

.header-bottom {
  position: sticky !important;
  top: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 7px 3px 3px;
  height: auto;
  width: 100%;
}

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-bottom {
  padding: 3rem 15rem;
}

.logo {
  color: var(--oxford-blue-1);
  font-family: var(--ff-poppins);
  font-size: 3.4rem;
  font-weight: var(--fw-800);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem; 
}

.social-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem; 
}

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.close-sidebar {
  display: block; 
  cursor: pointer; 
  width: 32px; 
  height: 32px;
}

.close-sidebar svg {
  width: 100%; 
  height: 100%;
  fill: var(--oxford-blue-1); 
}


.open-sidebar {
  display: block; 
  cursor: pointer; 
  width: 92px; 
  height: 92px;
}

.open-sidebar svg {
  width: 100%; 
  height: 100%;
  fill: var(--oxford-blue-1); 
}


.navbar-link {
  padding-right: 1rem;
  color: var(--oxford-blue-1);
  font-family: var(--ff-poppins);
  text-transform: capitalize;
  font-size: var(--fs-7);
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: var(--royal-blue-light);
}

.btn {
  padding: 0.8rem 2rem;
  background-color: var(--royal-blue);
  color: white;
  border-radius: 0.5rem;
  text-decoration: none;
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
}

/* hero */

.hero {
  background-image: url('/assets/images/hero-bg.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  width: 100%; 
}

.hero{
  position: relative;
  z-index: 100;
}

.hero .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text-wrap {
  padding-left: 15rem;
  color: var(--oxford-blue-1);
}

.small-head {
  color: var(--royal-blue-light);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  margin-block-end: 10px;
}

.large-head {
  color: var(--oxford-blue-1);
  font-size: 7rem;
  font-family: var(--ff-poppins);
  line-height: 1.2;
}

.para-head {
  margin: 4rem 0rem;
  font-size: var(--fs-6);
  line-height: 1.45;
  color: var(--sonic-silver);
}

.inp-wrap {
  position: relative;
  width: 500px;
  max-width: 100%;
}

.inp-hero {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 17rem;
  padding-left: 2rem;
  width: 100%;
  background-color: var(--cultured);
  color: var(--black);
  min-height: 70px;
  border-radius: var(--radius-4);
  border: 15px solid var(--white);
}

.inp-btn {
  position: absolute;
  right: 1%;
  top: 17%;
  height: 65%;
}

.img-hero{
  padding: 8rem 0rem;
}



/* services */

.service {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 10rem auto;
}

.service-head-blue {
  color: var(--royal-blue-light);
  font-family: var(--ff-poppins);
  font-weight: var(--fw-700);
  padding-bottom: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center; 
}

.service-head {
  color: var(--oxford-blue-2);
  font-family: var(--ff-poppins);
  line-height: 1.2;
  font-size: 5rem;
  padding-bottom: 7rem;
  text-align: center; 
}

.service-grid {
  display: grid;
  grid-template-areas:
    "s1 img s4"
    "s2 img s5"
    "s3 img s6";
  gap: 1.5rem;
  justify-items: center; 
  width: 100%; 
}  

.service-image {
  grid-area: img;
  padding: 3rem;
}

.item1 {
  grid-area: s1;
}

.item2 {
  grid-area: s2;
}

.item3 {
  grid-area: s3;
}

.item4 {
  grid-area: s4;
}

.item5 {
  grid-area: s5;
}

.item6 {
  grid-area: s6;
}

.service-wrap {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  min-height: 100%;
  border: 1px solid var(--light-gray);
  border-radius: var(--radius-4);
  padding: 30px;
  width: 90%; 
  max-width: 350px; 
}

.service-wrap img {
  height: 50px;
}

.service-small-head {
  color: var(--oxford-blue-2);
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.service-para {
  line-height: 24px;
  font-size: 1.7rem;
}

.service-image img {
  height: 80%;
}



/* about */

.about {
  padding: 3rem 19rem;
}

.about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.about-wrap {
  margin-top: 5rem;
}

.about-small-head {
  text-transform: uppercase;
  color: var(--royal-blue-light);
  font-family: var(--ff-poppins);
  font-size: 2.2rem;
  font-weight: var(--fw-700);
}

.about-head {
  color: var(--oxford-blue-2);
  font-family: var(--ff-poppins);
  line-height: 1.2;
  font-size: 6rem;
}

.about-para {
  margin-top: 2rem;
  line-height: 24px;
}

.about-para2 {
  margin: 2rem 0rem;
  line-height: 24px;
}

/* doctor service */

.doctors .container {
  padding: 10rem 24rem;
  width: 100%;
  margin-bottom: 5rem;
}

.doctor-head {
  color: var(--royal-blue-light);
  text-transform: uppercase;
  font-family: var(--ff-poppins);
  font-size: 2.2rem;
  font-weight: var(--fw-700);
}

.doctor-large-head {
  color: var(--oxford-blue-2);
  font-family: var(--ff-poppins);
  line-height: 1.2;
  font-size: 6rem;
  font-weight: var(--fw-700);
  padding-bottom: 5rem;
}

.doctor-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 23px;
  align-items: center;
}

.doc {
  border: 1px solid var(--light-gray);
  border-radius: var(--radius-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.doc img {
  height: 220px;
  padding-bottom: 2rem;
}

.doc-head {
  color: var(--oxford-blue-2);
  font-family: var(--ff-poppins);
  font-size: 2.5rem;
  line-height: 1.2;
  padding-bottom: 1rem;
}

.doc-head:hover {
  color: var(--royal-blue-light);
  cursor: pointer;
}

.link {
  color: var(--royal-blue-light);
}

.doc:hover .doc-head {
  color: var(--royal-blue-light);
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.icon-doc {
  background-color: var(--lavender-web);
  color: var(--royal-blue-light);
  font-size: 16px;
  padding: 12px;
  border-radius: 50%;
  transition: var(--transition);
}

.icon-doc:hover {
  color: white;
  background-color: var(--royal-blue-light);
  cursor: pointer;
}


/* banner */

.banner {
  height: 100%;
  width: 100%;
  position: relative;
}

.banner .container {
  display: grid;
  height: 55vh;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--oxford-blue-1);
  position: relative;
}

.banner-image {
  padding-left: 22rem;
}

.banner-image img {
  position: absolute;
  height: 490px;
  top: -100px;
}

.banner-head-small {
  color: var(--royal-blue-light);
  font-family: var(--ff-poppins);
  font-size: 2.2rem;
  font-weight: var(--fw-700);
}

.banner-head-large {
  color: var(--white);
  font-size: 6rem;
  margin-bottom: 2.2rem;
}

.banner-btn{
  width: 31%;
}

/* blog posts */

.blogs {
  padding: 10rem 20rem;
}

.small-blog-head {
  color: var(--royal-blue-light);
  font-family: var(--ff-poppins);
  font-size: 2.2rem;
  font-weight: var(--fw-700);
}

.blog-head {
  color: var(--oxford-blue-2);
  font-size: 6rem;
  margin-bottom: 5rem;
}

.blog-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 4rem;
}

.blog-content {
  background-color: white;
  width: 350px;
  /* border: 2px solid black; */
  border-radius: 5px;
  overflow: hidden;
  box-shadow: var(--shadow-3);
}

.blog-img {
  border-radius: 5px;
}

.blog-img:hover,
.blog-content:hover .blog-img {
  transform: scale(1.1);
  transition: var(--transition);
}

.image-blog {
  position: relative;
  overflow: hidden;
}

.date {
  position: absolute;
  top: 16rem;
  left: 1rem;
  background-color: var(--royal-blue-light);
  color: var(--white);
  display: inline-flex;
  gap: 5px;
  border-radius: var(--radius-6);
  padding: 10px 15px;
}

.text-blog-wrap {
  padding: 3rem;
}

.blog-post-head {
  font-family: var(--ff-poppins);
  line-height: 1.2;
  font-size: 3rem;
  color: var(--oxford-blue-2);
  margin-bottom: 2rem;
}

.blog-para {
  line-height: 24px;
  margin-bottom: 2rem;
}

.read {
  color: var(--royal-blue-light);
  font-weight: var(--fw-500);
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.read:hover {
  color: black;
  transition: var(--transition);
}


/* 
 */
.up a{
  background-color: var(--royal-blue-light);
  color: white;
  position: fixed;
  z-index: 10;
  bottom: 50px;
  right: 50px;
  padding: 1.5rem;
  border-radius: 50%;
  font-size: 18px;
}

.up a:hover {
  transform: translateY(-10%);
  transition: 0.2s;
}



/* footer */

.foot {
  position: relative;
  background-color: var(--oxford-blue-2);
  color: var(--light-steel-blue);
  padding: 10rem 0; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.partitions {
  display: flex; 
  justify-content: space-between; 
  gap: 10rem; 
  padding: 0rem 24rem;
  margin-bottom: 12rem;
  width: 100%;
}

.part-2,
.part-3,
.part-4 { 
  padding: 0; 
  margin: 0;
  width: 50%;
}

.part-1{
  padding: 0; 
  margin: 0;
  width: 50%;
}

.part-4 { 
  padding: 0; 
  margin: 0;
  width: 50%;
}

.part4-heading{
  color: var(--white);
  font-family: var(--ff-poppins);
  font-size: var(--fs-4);
  font-weight: var(--fw-700);
  margin-bottom: 3rem; 
}

.part-4 .date-icons{
  margin-bottom: 2rem;
}

/* part 1 */

.part-heading {
  color: white;
  font-family: var(--ff-poppins);
  font-size: 3.4rem;
  font-weight: var(--fw-800);
  margin-bottom: 2rem;
}

.date-icons {
  display: flex;
  margin-top: 1rem; 
  gap: 1rem;
  align-items: center;
}

.span {
  line-height: 24px;
}

.part-para {
  line-height: 24px;
}

.schedule-icon {
  background-image: var(--gradient);
  color: var(--white);
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  width: 35px; 
  height: 35px; 
}

/* part 2 */

.part2-heading,
.part3-heading {
  color: var(--white);
  font-family: var(--ff-poppins);
  font-size: var(--fs-4);
  font-weight: var(--fw-700);
  margin-bottom: 1rem; 
}

.p3 ion-icon,
.p2 ion-icon {
  color: var(--royal-blue-light);
}

.p2,
.p3 {
  display: flex;
  gap: 0.5rem;
  margin-top: 3rem; 
  margin-bottom: 3rem; 
  font-weight: 500;
}

.p2:hover,
.p3:hover{
  color: white;
  transition: var(--transition);
  cursor: pointer;
}

/* last part */

.last-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: var(--oxford-blue-3);
  text-align: center;
  padding: 1rem 10rem;
}

.copy-right{
  margin-left: 8rem !important;
}

.social-list li {
  padding: 1rem;
}

.social-link ion-icon {
  padding: 11px;
  background-color: hsla(0, 0%, 100%, 0.2);
  color: var(--white);
  font-size: 18px;
  border-radius: 50%;
  transition: var(--transition);
}

.social-link ion-icon:hover {
  color: white;
  background-color: var(--royal-blue-light);
  cursor: pointer;
}
